{% extends 'main/base.html' %}

{% block content %}
    <h1>
        Oblibene coiny
    </h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga blanditiis iusto praesentium tempora esse nihil, necessitatibus animi omnis eum ipsa atque suscipit ex magni, dolorem quidem! Culpa laboriosam voluptates tenetur.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae, deserunt repellat pariatur dolores quos obcaecati sed cum ratione nobis maiores praesentium, eligendi possimus. Qui, impedit debitis neque placeat omnis aperiam.
    </p>
{% endblock %}